@model SecureBadge.Entities.Models.AssessmentModel
<div class="container">

    <h1>@Model.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">

            @foreach (var item in Model.Questions)
            {
                <div>@item.Text</div>
                <div class="form-group">
                    <ul>
                        @foreach (var a in item.Choices)
                        {
                            <li><input type="radio" id="html" name="@item.QuestionID" value="@a.IsCorrect">@a.Text</li>
                        }
                    </ul>
                </div>
            }
            <form asp-action="Badge" method="post">
                <input type="hidden" asp-for="AssessmentiD" />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
